<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-brands fa-airbnb fa-xl"></i><b> StayLocator </b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse btn-alignment" id="navbarNavAltMarkup">
      <div class="menu menu-effect">
        <ul>
          <li><a href="/listings">Home</a></li>
          <li><a href="/listings/new">List your home</a></li>
        </ul>
      </div>
      <div class="login-btns">
        <% if(!currUser){ %>

        <a class="btn btn-dark" href="/login">Login</a>
        <a class="btn btn-dark" href="/signup">SignUp</a>
        <% }%>
         <% if(currUser){ %>
        <a class="btn btn-dark" href="/logout">Logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
